* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1920px;
    margin: auto;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 1.4em;
}

header {
    display: grid;
    grid-template-columns:100px 50px 50px auto auto auto auto 50px 150px 150px 200px 8.33% ;
    grid-template-rows: 50% 50%;
    width: 100%;
    background-color: #718d76;
    height: 100px;
}

header .logotyp {
    grid-column: 2/4;
    grid-row: 1/3;
}

header .menu-btn, #nav-menu {
    display: none;
}

header #icon-minasidor {
    grid-column: 8/9;
    grid-row: 1/2;
    justify-self: end;
    align-self: end;
}

header #link-minasidor {
    grid-column: 9/10;
    grid-row: 1/2;
    justify-self: center;
    align-self: end;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;  
    font-size: 24px; 
    text-shadow: 2px 2px 10px rgb(71, 71, 71);
}



header input {
    grid-column: 10/12;
    grid-row: 1/2;
    align-self: end;
    height: 30px;
    border-radius: 4px;
    box-shadow: 0 4px 4px grey;
}

header #icon_search {
    grid-column: 12/13;
    grid-row: 1/2;
    
}

header #icon_speaker {
    grid-column: 10/11;
    grid-row: 2/3;
    align-self: center;
    width: 30px;
    
}

header #link_lyssna {
    grid-column: 10/11;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;  
    text-shadow: 2px 2px 10px rgb(71, 71, 71);
}

header #icon_language {
    grid-column: 11/12;
    grid-row: 2/3;
    align-self: center;
}

header #link_language {
    grid-column: 11/12;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px; 
    text-shadow: 2px 2px 10px rgb(71, 71, 71); 
}

nav {
    display: flex;
    background-color: #96ac94;
    height: 55px;
    justify-content: center;
    box-shadow:  0 0 10px;
    
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;  
    padding: 15px 2%;
    text-shadow: 2px 2px 10px rgb(71, 71, 71);
   
}

main {
    background-color: #F2F1EB;
    min-height: 72vh;
     
}





/*Main startsidan*/
#main_index {
    background-image: url("../bilder/background_jpg.jpg");
    background-color: #6a856e;
    background-repeat: no-repeat;
    background-size: cover;
}

/*vita bakgrundsrutan på första sidan*/
#centerbackground_index {
    background-color: #F2F1EB;
    max-width: 650px;
    min-height: 72vh;
    margin: auto;
    opacity: 90%;
}

#breadcrums_index {
    position: relative;
    top: 10px;
} 
/*sectionen med informationstexten på förstasidan*/
#text_index {
    margin: auto;
    max-width: 100%;
    padding-top: 50px;
}



#text_index h1{
    text-align: center;
    padding-bottom: 30px;
    text-shadow: 2px 1px 8px grey;
}

#text_index p {
    margin: auto;
    font-size: 20px;
    line-height: 1.5em;
    width: 55%;
    min-width: 300px;
    padding-bottom: 50px;
}

/*BOKA RESA knappen*/
#bokaknappen {
    background-color: #813E3E;
    height: 127px;
    width: 316px;
    border-radius: 10px;
    border: solid 2px black;
    margin: auto;
}

/*BOKA RESA texten*/
#bokaknappen a {
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-shadow: 3px 3px 5px black;
    text-decoration: none;
    position: relative;
    top: 40px;
    left: 60px;
}




/*Main-ansök om färdtjänst-sidan*/
#main_ansök {
    display: grid;
    grid-template-columns:auto;
    grid-template-rows:50px 150px auto;
}

#breadcrums_ansök {
    grid-row: 1/2;
    align-self: center;
}

#main_ansök h1 {
    grid-row: 2/3;
   justify-self: center;
   align-self: center;
}

#text_ansök {
    grid-row: 3/4;
    justify-self: center;
    max-width: 600px;
    padding: 10px 0 200px 30px;
    font-size: 1.4em;
}

#text_ansök a {
   font-size: 24px;
   
}







/*Main-inloggningssidan*/
#main_inloggning {
    display: grid;
    grid-template-columns:1fr 2fr 1fr;
    grid-template-rows:50px 150px 150px 150px;
}

#main_inloggning h1 {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
}

#bankid_loggain {
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: center;
    height: 100px;
    width: 250px;
    background-color: #718d76;
    border-radius: 10px;
    border: 1px solid black;
    color: white;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 0 0 10px black; 
    cursor: pointer;  
}

#fardtjanstid_loggain {
    grid-column: 2/3;
    grid-row: 4/5;
    justify-self: center;
    height: 100px;
    width: 250px;
    background-color: #718d76;
    border-radius: 10px;
    border: 1px solid black;
    color: white;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 0 0 10px black; 
    cursor: pointer;    
}

#breadcrums_inlogg {
    grid-column: 1/4;
    grid-row: 1/2;
    align-self: center;
    color: black;
}  





/*Main-mina sidor*/
#main_minasidor {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50px 150px 120px 120px 120px 120px;
}

#breadcrums_minasidor {
    grid-column: 1/4;
    grid-row: 1/2;
    align-self: center;
}

#main_minasidor h1 {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
}

#link1 {
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: center;
    background-color: #718d76;
    padding: 10px 0 10px 0;
    max-height: 50px;
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
    border: 1px solid black;
    text-shadow: 0 0 5px black;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

#link2 {
    grid-column: 2/3;
    grid-row: 4/5;
    justify-self: center;
    background-color: #718d76;
    padding: 10px 0 10px 0;
    max-height: 50px;
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
    border: 1px solid black;
    text-shadow: 0 0 5px black;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

#link3 {
    grid-column: 2/3;
    grid-row: 5/6;
    justify-self: center;
    background-color: #718d76;
    padding: 10px 0 10px 0;
    max-height: 50px;
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
    border: 1px solid black;
    text-shadow: 0 0 5px black;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

#link4 {
    grid-column: 2/3;
    grid-row: 6/7;
    justify-self: center;
    background-color: #718d76;
    padding: 10px 0 10px 0;
    max-height: 50px;
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
    border: 1px solid black;
    text-shadow: 0 0 5px black;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

#link5 {
    grid-column: 2/3;
    grid-row: 7/8;
    justify-self: center;
    background-color: #718d76;
    padding: 10px 0 10px 0;
    max-height: 50px;
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
    border: 1px solid black;
    text-shadow: 0 0 5px black;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}







/*Main- Mina resor*/

#main_minaresor {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px 150px auto;
}

#breadcrums_minaresor {
    grid-column: 1/4;
    grid-row: 1/2;
    align-self: center;
}

#main_minaresor h1 {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
    padding: 20px 0 50px 0; 
}

#resa1 {
    grid-column: 2/3;
    grid-row: 3/4;
    padding: 10px 0 20px 30px;
    background-color: #AFC8AD;
    margin: 20px 0 20px 0;
    border: 1px solid black;
    border-radius: 10px;
}

#resa2 {
    grid-column: 2/3;
    grid-row: 4/5;
    padding: 10px 0 20px 30px;
    margin: 20px 0 20px 0;
    border: 1px solid black;
    border-radius: 10px;
}

#resa3 {
    grid-column: 2/3;
    grid-row: 5/6;
    padding: 10px 0 20px 30px;
    background-color: #AFC8AD;
    margin: 20px 0 200px 0;
    border: 1px solid black;
    border-radius: 10px;
}

#main_minaresor .btn {
    background-color: #576d5b;
    color: white;
    padding: 10px 0 10px 0;
    width: 30%;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
}

#main_minaresor .btn:hover {
    background-color: #718d76;
}








/*Main- Boka resa*/

#main_bokaresa {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px 150px auto;
}

#breadcrums_bokaresa {
    grid-column: 1/13;
    grid-row: 1/2;
    align-self: center;
}

#main_bokaresa h1 {
    grid-column: 5/9;
    grid-row: 2/3;
    justify-self: center;
    padding: 20px 0 50px 0;
}

#section_persinfo {
    grid-column: 5/9;
    grid-row: 3/4;
}

#section_persinfo p {
    font-size: 20px;
    padding: 10px 0 20px 0;
}

#section_persinfo .btn {
    background-color: #718d76;
    color: white;
    padding: 10px 0 10px 0;
    width: 30%;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
}

#section_persinfo .btn:hover {
    background-color: #576d5b;
}

#section_persinfo a img {
    width: 30px;
    position: relative;
    top: 5px;
}


#section_resafrån {
    grid-column: 5/9;
    grid-row: 4/5;
    padding: 100px 0 0 0 ;
}

#section_resafrån input, select {
    width: 300px;
    height: 30px;
    border-radius: 3px;
    border: 2px solid black;
}  

#section_resafrån label {
    font-size: 20px;
}

#section_resafrån ::placeholder {
    font-size: 16px;
}


#section_resatill {
    grid-column: 5/9;
    grid-row:5/6;
    padding: 100px 0 0 0 ;
}

#section_resatill input, select {
    width: 300px;
    height: 30px;
    border-radius: 3px;
    border: 2px solid black;
}

#section_resatill label {
    font-size: 20px;
}

#section_resatill ::placeholder {
    font-size: 16px;
}

#section_resatill a {
    font-size: 20px;
}

#section_närresa {
    grid-column: 5/9;
    grid-row: 6/7;
    padding: 100px 0 0 0 ;
}

#section_närresa #datum, #tidpunkt, #ankomst {
    width: 300px;
    height: 30px;
    border-radius: 3px; 
    border: 2px solid black;
}

#section_närresa label, p {
    font-size: 20px;
}

#section_närresa #from, #to {
    width: 300px;
    height: 30px;
    border-radius: 3px;
    border: 2px solid black;
}

#återkommande_dropmeny {
    display: none;
}

#section_hurmånga {
    grid-column: 5/9;
    grid-row: 7/8;
    padding: 100px 0 0 0 ;
}

#section_hurmånga #quantity { 
    width: 80px;
    height: 30px;
    border-radius: 3px;
    border: 2px solid black;
}

#section_hurmånga label {
    font-size: 20px;
}

#section_hurmånga .btn {
    background-color: #718d76;
    color: white;
    margin: 0 0 200px 0;
    padding: 10px 0 10px 0;
    width: 30%;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
}

#section_hurmånga .btn:hover{
    background-color: #576d5b;
}




/*Main kontrollera och betala*/

#main_kontroll {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px 150px auto;
}

#breadcrums_kontroll {
    grid-column: 1/13;
    grid-row: 1/2;
    align-self: center;
}

#main_kontroll h1 {
    grid-column: 5/9;
    grid-row: 2/3;
    justify-self: center;
    padding: 20px 0 50px 0;
}
#main_kontroll h2 {
    grid-column: 5/9;
    grid-row: 3/4;
    justify-self: center;
    padding: 20px 0 0 0;
}

#section_persinfo_kontroll {
    grid-column: 5/9;
    grid-row: 4/5;
    padding: 50px 0 50px 30px;
}

#section_persinfo_kontroll .btn {
    background-color: #718d76;
    padding: 5px 30px 5px 30px;
    border-radius: 5px;
    border: 1px solid black;
    color: white;
    text-decoration: none;
    font-size: 24px;
    cursor: pointer;
}

#section_persinfo_kontroll .btn:hover {
    background-color: #576d5b;
}

#reseinformation {
    grid-column: 5/9;
    grid-row: 5/6;
    padding: 20px 0 50px 0;
    background-color: #EEE7DA;
    border-radius: 10px;
}

#reseinformation p {
    padding: 10px 0 0 40px;
}

#reseinformation h2 {
    padding: 10px 0 0 40px;
}

#check_bokningsbekräftelse {
    grid-column: 5/9;
    grid-row: 6/7;
    padding: 0 0 0 30px;
}

#section_betalning {
    grid-column: 5/9;
    grid-row: 7/8;
    padding: 0 0 0 30px;
}

#section_buttons {
    grid-column: 5/9;
    grid-row: 8/9;
    padding: 0 0 0 30px;
}

.section_buttons_btn {
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: #718d76;
    border-radius: 5px; 
    width: 31%;
    padding: 10px 0 10px 0;
    color: white;
    font-size: 24px;
    cursor: pointer;
}


/*Main bekräftelse*/

#main_bekräftelse {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px 150px auto;
}

#breadcrums_bekräftelse {
    grid-column: 1/13;
    grid-row: 1/2;
    align-self: center;
}

#main_bekräftelse h1 {
    grid-column: 5/9;
    grid-row: 2/3;
    justify-self: center;
}

#bokat_check {
    grid-column: 5/9;
    grid-row: 3/4;
    justify-self: center;
}

#ditt_bokningsnummer{
    grid-column: 5/9;
    grid-row: 4/5;
    justify-self: center;
}

#bekräftelse_via{
    grid-column: 5/9;
    grid-row: 5/6;
    justify-self: center;
}





/*Main-mina fakturor*/
#main_minafakturor {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px 150px 120px 120px;
}

#breadcrums_minafakturor {
    grid-column: 1/4;
    grid-row: 1/2;
    align-self: center;
}

#main_minafakturor h1 {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
}

#main_minafakturor #btn_obetalda {
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: center;
    height: 100px;
    background-color: #718d76;
    border-radius: 5px; 
    width: 100%;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

#main_minafakturor #btn_betalda {
    grid-column: 2/3;
    grid-row: 4/5;
    justify-self: center;
    height: 100px;
    background-color: #718d76;
    border-radius: 5px; 
    width: 100%;
    color: white;
    font-size: 24px;
    cursor: pointer;
}




/*mina personliga inställningar*/
#main_personliga_inställningar {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px 150px auto;
}

#breadcrums_personligainställningar {
    grid-column: 1/4;
    grid-row: 1/2;
    align-self: center;
}

#main_personliga_inställningar h1 {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
}

#section_inställningar {
    grid-column: 2/3;
    grid-row: 3/4;
    padding: 10px 0 10px 30px;
}

#section_inställningar #edit_name, #edit_phone, #edit_mail {
    width: 300px;
    height: 30px;
    border-radius: 3px;
    border: 2px solid black;
}

#section_inställningar input::placeholder {
    font-size: 20px;
}

#section_inställningar .btn {
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: #718d76;
    border-radius: 5px; 
    width: 31%;
    padding: 10px 0 10px 0;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

#section_inställningar .btn:hover {
    background-color: #718d76;
}



/*Main - tillgänglighetsredogörelse*/

#breadcrums_tillgänglighetsredogörelse {
    position: relative;
    top: 10px;
}

#tillgänglighetsredogörelse {
    width: 80%;
    max-width: 700px;
    margin: auto;
    padding: 150px 0 200px 0;
}

#tillgänglighetsredogörelse h1 {
    padding: 20px 0 40px 0;
}

#tillgänglighetsredogörelse h2 {
    padding: 20px 0 10px 0;
}







/*Main - om färdtjänst*/
#main_omfärdtjänst {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px 150px auto;
}

#breadcrums_omfärdtjänst {
    grid-column: 1/4;
    grid-row: 1/2;
    align-self: center;
}

#main_omfärdtjänst h1 {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
}

#färdtjänst1 {
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: center;
    width: 80%;
    max-width: 800px;
    padding: 10px 0 10px 10px;
    border-radius: 5px;
    color: black;
}

#färdtjänst1 h2 {
    background-color: #718d76;
    padding: 10px 0 10px 10px;
    color: white;
    border-radius: 5px;
}

#färdtjänst1 p {
    background-color: #F2F1EB;
    padding: 30px 0 30px 10px;
    font-size: 1.4em;
    
}

#färdtjänst1 ul {
    padding-left: 35px;
}

#färdtjänst1 li {
    font-size: 1.4em;
}


#färdtjänst2 {
    grid-column: 2/3;
    grid-row: 4/5;
    justify-self: center;
    width: 80%;
    max-width: 800px;
    padding: 10px 0 10px 10px;
    border-radius: 5px;
    color: black;
}

#färdtjänst2 h2 {
    background-color: #718d76;
    padding: 10px 0 10px 10px;
    color: white;
    border-radius: 5px;
}

#färdtjänst2 p {
    background-color: #F2F1EB;
    padding: 30px 0 30px 10px;
    font-size: 1.4em;
}


#färdtjänst3 {
    grid-column: 2/3;
    grid-row: 5/6;
    justify-self: center;
    width: 80%;
    max-width: 800px;
    padding: 10px 0 10px 10px;
    border-radius: 5px;
    color: black;
}

#färdtjänst3 h2 {
    background-color: #718d76;
    padding: 10px 0 10px 10px;
    color: white;
    border-radius: 5px;
}

#färdtjänst3 p {
    background-color: #F2F1EB;
    padding: 30px 0 30px 10px;
    font-size: 1.4em;
}


#färdtjänst4 {
    grid-column: 2/3;
    grid-row: 6/7;
    justify-self: center;
    width: 80%;
    max-width: 800px;
    padding: 10px 0 10px 10px;
    border-radius: 5px;
    color: black;
}

#färdtjänst4 h2 {
    background-color: #718d76;
    padding: 10px 0 10px 10px;
    color: white;
    border-radius: 5px;
}

#färdtjänst4 p {
    background-color: #F2F1EB;
    padding: 30px 0 30px 10px;
    font-size: 1.4em;
}


#färdtjänst5 {
    grid-column: 2/3;
    grid-row: 7/8;
    justify-self: center;
    width: 80%;
    max-width: 800px;
    padding: 10px 0 10px 10px;
    border-radius: 5px;
    color: black;
}

#färdtjänst5 h2 {
    background-color: #718d76;
    padding: 10px 0 10px 10px;
    color: white;
    border-radius: 5px;
}

#färdtjänst5 p {
    background-color: #F2F1EB;
    padding: 30px 0 30px 10px;
    font-size: 1.4em;
}


#färdtjänst6 {
    grid-column: 2/3;
    grid-row: 8/9;
    justify-self: center;
    width: 80%;
    max-width: 800px;
    padding: 10px 0 10px 10px;
    border-radius: 5px;
    color: black;
}

#färdtjänst6 h2 {
    background-color: #718d76;
    padding: 10px 0 10px 10px;
    color: white;
    border-radius: 5px;
}

#färdtjänst6 p {
    background-color: #F2F1EB;
    padding: 30px 0 30px 10px;
    font-size: 1.4em;
}





/*Main - om webbplatsen*/
#main_omwebbplatsen {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px 150px 250px 250px;
}

#breadcrums_omwebbplatsen {
    grid-column: 1/4;
    grid-row: 1/2;
   
}

#main_omwebbplatsen h1 {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
}

#cookies {
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: center;
    width: 90%;
    max-width: 800px;
}

#omwebbplatsen_tillgänglighetsredogörelse {
    grid-column: 2/3;
    grid-row: 4/5;
    justify-self: center;
    width: 90%;
    max-width: 800px;
}












/*Footer*/
footer {
    background-color: #718d76;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 66px 66px 66px;
    box-shadow: 0 0 10px;
}

footer #contact {
    grid-column: 1/2;
    grid-row: 1/4;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px; 
    line-height: 2em;
    align-self: center;
    justify-self: center;
    text-shadow: 2px 2px 10px rgb(71, 71, 71);
}

footer  #link_avboka {
    grid-column: 2/3;
    grid-row: 1/2;
    color: white;
    font-weight: bold;
    font-size: 20px;
    align-self: center;
    justify-self: center;
    text-shadow: 2px 2px 10px rgb(71, 71, 71);
}

footer #link_ansok {
    grid-column: 2/3;
    grid-row: 2/3;
    color: white;
    font-weight: bold;
    font-size: 20px;
    align-self: center;
    justify-self: center;
    text-shadow: 2px 2px 10px rgb(71, 71, 71);
}

footer #icons_download {
    grid-column: 2/3;
    grid-row: 3/4;
    align-self: center;
    justify-self: center;
}


footer #link_omfard {
    grid-column: 3/4;
    grid-row: 1/2;
    color: white;
    font-weight: bold;
    font-size: 20px;
    align-self: center;
    justify-self: center;
    text-shadow: 2px 2px 10px rgb(71, 71, 71);
}

footer #link_omwebb {
    grid-column: 3/4;
    grid-row: 2/3;
    color: white;
    font-weight: bold;
    font-size: 20px;
    align-self: center;
    justify-self: center;
    text-shadow: 2px 2px 10px rgb(71, 71, 71);
}

footer #link_tillgang {
    grid-column: 3/4;
    grid-row: 3/4;
    color: white;
    font-weight: bold;
    font-size: 20px;
    align-self: center;
    justify-self: center;
    text-shadow: 2px 2px 10px rgb(71, 71, 71);
}





/* Media querys för skärmar mindre än 1150 pixlar */
@media (max-width: 1150px) {

    header {
        display: block;
        
    }
    header #icon-minasidor, #link-minasidor, #search_input, .nav-bigscreen a, #link_lyssna,  #link_language {
        display: none;
    }
  
    header img {
        max-width: 70%;
    }

    #icon_speaker {
        position: relative;
        top: 73px;
        left: -200px;
    }

    #icon_language {
        position: relative;
        left: -170px;
        top: 69px;
    }

    header #icon_search {
        position: relative;
        left: -220px;
        top: 80px;
        
    }



   


    /* Hamburgemeny eller dropdown meny  */
    #nav-menu {
        background-color: #88AB8E;
        box-shadow: 0 0 10px;
        width: 330px;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        display: none;
        z-index: 10;
        /* denna togglas mellan block och none för att visa och gömma menyn*/
    }

    #nav-menu ul {
        position: relative;
        top: 60px;
        width: 100%;
        text-align: center;
        list-style-type: none;
    }
    
    #nav-menu ul li {
        padding: 8% 2%;
        width: 100%;
        cursor: pointer;
    }

    #nav-menu ul li a {
        text-decoration: none;
        color: white;
        font-size: 24px;
    }

    #nav-menu ul li a:hover {
        background-color: #6a856e;
    }


    /*Meny-knappen för att öppna dropdown menyn*/
    #open-menu {
        display: flex;
        align-items: center;
        padding: 5px 3px;
        background-color: #88AB8E;
        border: white solid 2px;
        cursor: pointer;
        position: absolute;
        top: 40px;
        right: 20px;
        box-shadow: 0 0 5px;
        /*flexibel display för att öppna och stänga meny*/
    }

    #open-menu:hover {
        background-color: #6a856e;
    }

    /*hamburgemenyn*/
    .bars {
        width: 25px;
        height: 3px;
        border-radius: 10px;
        display: block;
        background-color: white;
        margin: 5px 0;
    }

    .menu-text {
        color: white;
        font-size:1.4em;
        padding: 0 3px;
    }

    /*stänga meny-knappen*/
    header #close-menu {
        display: flex;
        margin: 2% 2%;
        padding: 10px 15px;
        position: relative;
        top: 20px;
        right: -100px;
        cursor: pointer;
        background-color: #88AB8E;
        border: white solid 2px;
        box-shadow:  0 0 5px;
    }

    header #close-menu:hover {
        background-color: #6a856e;
    }

    .cross1 {
        transform: rotate(45deg);
        position: relative;
        top: 5px;
        width: 25px;
        background-color: white;
        padding: 2%;
    }

    .cross2 {
        transform: rotate(135deg);
        position: relative;
        top: -3px;
        width: 25px;
        background-color: white;
        padding: 2%;
    }

    /*Main*/
   


    /*footer*/
    
    footer {
        display: grid;
        background-color: #88AB8E;
        height: auto;
        grid-template-columns: 100%;
        grid-template-rows:auto;
        box-shadow: 0 0 10px;
    }
    
    footer  #link_avboka {
        grid-column: 1/2;
        grid-row: 1/2;
        color: white;
        font-weight: bold;
        font-size: 20px;
        padding: 30px 0 10px 0;
    }
    
    footer #link_ansok {
        grid-column: 1/2;
        grid-row: 2/3;
        color: white;
        font-weight: bold;
        font-size: 20px;
        padding: 10px;
    }
    
    footer #link_omfard {
        grid-column: 1/2;
        grid-row: 3/4;
        color: white;
        font-weight: bold;
        font-size: 20px;
        padding: 10px;
    }
    
    footer #link_omwebb {
        grid-column: 1/2;
        grid-row: 4/5;
        color: white;
        font-weight: bold;
        font-size: 20px;
        padding: 10px;
    }
    
    footer #link_tillgang {
        grid-column: 1/2;
        grid-row: 5/6;
        color: white;
        font-weight: bold;
        font-size: 20px;
        padding: 10px 0 50px 0;
    }

    footer #contact {
        max-width: 70%;
        grid-column: 1/2;
        grid-row: 6/7;
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 20px;
    }
      
    footer #icons_download {
        grid-column: 1/2;
        grid-row: 7/8;
        padding: 30px;
    }
}